networks:
  frontend:
    name: frontend
services:
  # Caddy set up
  caddy:
    image: jcdcdev/caddy-docker-proxy-cloudflare:latest
    ports:
      - 80:80
      - 443:443
    networks:
      - frontend
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - "~/caddy/data:/data"
    labels:
      caddy: (cftls)
      caddy.tls.dns: cloudflare "API-KEY-HERE"
      caddy.tls.resolvers: 1.1.1.1
  # Container that uses Caddy
  who:
    image: traefik/whoami
    networks:
      - frontend
    labels:
      caddy: who.example.com
      caddy.reverse_proxy: "{{upstreams 80}}"
      caddy.import: cftls
  # Container that uses Caddy
  am:
    image: traefik/whoami
    networks:
      - frontend
    labels:
      caddy: am.example.com
      caddy.reverse_proxy: "{{upstreams 80}}"
      caddy.import: cftls
  # Container that uses Caddy
  i:
    image: traefik/whoami
    networks:
      - frontend
    labels:
      caddy: i.example.com
      caddy.reverse_proxy: "{{upstreams 80}}"
      caddy.import: cftls
