name: Build
run-name: Build ${{ github.repository }}
on:
  pull_request:
    branches: "*"
  workflow_dispatch:
jobs:
  build:
    permissions:
      contents: write
    uses: ./.github/workflows/template.yml
    with:
      deploy: false
    secrets:
      docker-username: ${{ secrets.DOCKER_HUB_USERNAME }}
      docker-password: ${{ secrets.DOCKER_HUB_PASSWORD }}
