name: Release
run-name: Release ${{ github.repository }}
on:
  pull_request:
    branches: ["main"]
    types: [closed]
  workflow_dispatch:
jobs:
  build:
    permissions:
      contents: write
    uses: ./.github/workflows/template.yml
    with:
      deploy: true
    secrets:
      docker-username: ${{ secrets.DOCKER_HUB_USERNAME }}
      docker-password: ${{ secrets.DOCKER_HUB_PASSWORD }}
